<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <label>Email:</label>
    <input type="email" formControlName="email" placeholder="Enter your email" />
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
      Valid email is required
    </div>

    <label>Password:</label>
    <input type="password" formControlName="password" placeholder="Enter your password" />
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
      Password must be at least 6 characters
    </div>

    <button type="submit">Login</button>
  </form>

  <p>
    Don’t have an account? 
    <a routerLink="/register">Register here</a>
  </p>
</div>
